.navigation-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  header {
    z-index: 10;
    width: 100%;
    position: fixed;

    nav {
      color: white;
    }
  }
}
